		#shopping_center{
			height: 98px;
			padding: 80px 0 120px;
			color: #333;			
		}
		#shopping_center .car_content{
		    height: 98px;
		    padding-left: 341px;
		    background: url(../img/京东全部图片/购物车/shopping_car.png) no-repeat  250px 22px;
		    width: 600px;
		    margin: 0 auto;
		}
		.car_content ul{
			padding-top: 20px;
		}
		/*内容*/
		.car_content ul li{
			line-height: 26px;
		}
		.car_content ul li:first{
			font-size: 14px;
		}

.car_content ul li.login a:first{
	display: inline-block;
	height: 25px;
	line-height: 25px;
	background-color: #e74649;
}
.car_content ul li.login a:nth-child(2){
	color: #005ea7;
}

